<div class="container-6">
  <div class="jumbotron bg-dark col-md-6 offset-md-3">
    <div class="space-bot text-center">
      <h2>Sign up</h2>
      <hr>
    </div>
    <br>
    <form (submit)="onRegister()">
      <div class="form-group">
        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" class="form-control"
          placeholder="Password Confirmation">
      </div>
      <div class="space-top">
        <button type="submit" class="btn btn-success col-md-4">Signup</button>
        <button type="button" class="btn btn-danger col-md-4" [routerLink]="'/'">Cancel</button>
      </div>
      <hr>
      <span>already have an account? <a [routerLink]="'/login'">login</a> </span>
    </form>
  </div>
</div>
